// Import google font
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

//Colors
$grey: #d7d3cf;
$yellow: #f7e542;

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  width: 100vw;
  min-height: 100vh;
}
a {
  text-decoration: none;
 color: black;
}

//Desktop version
header {
  height: 60px;
  padding: 5px 20px;
  border-bottom: 1px solid $grey;
  background-color: $yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img{
    width: 120px;
  }

  .cart-icon {
    display: flex;
    align-items: center;
  }
}

.container {
  height: 100vh;
  width: 100%;

  .content {
    height: 100vh;
    display: flex;
    margin: 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    //Beer card
    article {
      margin-bottom: 50px;

      .MuiPaper-root{ 
        width: 300px;
        height: 100%;
        margin-bottom: 50px;
        margin-right: 50px;
        display: flex;
      flex-direction: column;
      justify-content:space-between;
      }

      .MuiCardMedia-root {
        height: 400px;
        width: 100px;
        align-self: center;
      }
    }
  }
}